<div class='all-events'>
  <div class='events'>
    <strong>Event: </strong><%= link_to event.title.capitalize, event, class: 'underline hover:text-orange-600' %><br/>
    <strong>Description:</strong><%= event.description.capitalize %><br/>
    <strong>Date: </strong><%= event.date.strftime('%m/%d/%Y') %><br/>
    <strong>Location: </strong><%= event.location %><br/>
    <strong>Host: </strong><%= event.creator.name.capitalize %><br/>
    <p><%= event_attendance_button(event) %></p>
  </div>
</div>