<div class='px-6 py-4'> 
  <div>
    <h2 class ='mb-3' >
      <% if current_user.name == @event.creator.name %>
        <%= link_to 'Edit', edit_event_path(@event), class:'btn btn-primary' %>
        <%= link_to 'Delete', event_path(@event.id), method: :delete, data: {confirm: 'Delete event?'}, class: 'hover:text-orange-600 text-xl' %>
      <% end %>
    </h2>
    
  </div>

  <div class="single-event">
    <p>
      <strong>Title: </strong>
      <%= @event.title %>
    </p>

    <p>
      <strong>Description: </strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Date: </strong>
      <%= @event.date.strftime('%m/%d/%Y') %>
    </p>

    <p>
      <strong>Location: </strong>
      <%= @event.location %><br/>
    </p>

    <p>
      <strong>Host: </strong>
      <%= @event.creator.name %>
    </p>
  </div>

  <strong>No. Invited: </strong><%= @event.invitees.count %><br/>
  <strong>No. Declined: </strong><%= @event.declined.count %>, <%= @event.declined_list %><br/>
  <strong>No. Attendees: </strong><%= @event.confirmed.count %>, <%= @event.confirmed_list %><br/>
  <br/>
  <%= link_to 'Back', event_path, class:'btn btn-primary' %>
</div>